html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*{
    box-sizing: border-box;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
main{
    margin-top: 50px;
}
body{
    width: 325px;
    margin: 0 auto;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    

}
.logo{
    /* display: inline-block; */
    float: left;
}
/* #mobile{
    float: right;
    display: inline-block;
} */
#desktop{
    display: none;
    position: absolute;
    top: 80px;
    width: 325px;
    background-color: white;
    text-align: center;
    /* padding: ; */
    font-weight: 700;
    color: hsl(230, 29%, 20%);
    /* color: ; */
    box-shadow: -3px 3px 10px lightgrey;
    border-radius: 5px;
    /* padding-top: 5px; */
    margin-top: 35px;
}
#mobile {
    float: right;
    /* background-image: url('images/icon-close.svg');
    background-repeat: no-repeat; */
    /* backface-visibility: hidden; */
    /* opacity: 0; */
    padding-top: 5px;
}
/* #mobile img{
    width: 350px;
} */
/* #hamburger {
    width: 25%;
} */
.heroImage {
    margin:0 auto;
    width: 350px;
    /* max-width: 157.53846%; */
    overflow: hidden;
}
.heroImage img {
    /* width: 350px; */
    /* position: absolute;
    left: 50%;  */
    /* width: 50%;  */
    display: block;
    margin-left: -22.5px;
    /* float: left; */
    margin-top: 50px;
    /* width: 157.53846%; */
    width: 146.73846%;
    /* width: 475px; */
    margin-bottom: 75px;
    /* object-position: 20% 0; */
}
/* .heroImage {

    position: absolute;
    width: 75%;
    height: 500px;
    background-image: url('images/illustration-devices.svg');
    background-position: 0 0; 
    background-repeat:no-repeat; 
    background-size: cover;
} */
/* .heroImage {
    position: absolute;
    width: 75%;
    margin-left: -22.5px;
    height: 600px;
    background-image: url('images/illustration-devices.svg');
    background-position: 0 0; 
    background-repeat:no-repeat; 
    background-size: cover;
    z-index: 5;

} */
a {
    text-decoration: none;
    color: hsl(230, 29%, 20%);
    /* color: hsl(231, 56%, 16%); */
    /* color: hsl(230, 11%, 40%); */
    font-weight: 700;
    letter-spacing: 0.05em;
    /* text-shadow: 1px 0 hsl(230, 29%, 20%); */
}
ul {
    padding-right: 25px;
    padding-left: 25px;
}
ol:first-of-type{
    padding-top: 25px;
}
ol {
    padding-bottom: 25px;
}
ol:last-of-type{
    padding-top: 25px;
    border-top: 1px solid hsl(231, 7%, 65%);  
}
#login a{
    color: hsl(231, 7%, 65%);
    /* text-shadow: 1px 0 hsl(231, 7%, 65%);; */
}
.header, .demoBtn, .navigation {
    font-family: 'Barlow Condensed', sans-serif;
}
.content {
    font-family: 'Barlow', sans-serif;
}
html{
    height: 100%;
}
.colorShape {
    background-color: hsl(207, 33%, 95%);
    padding-bottom: 50px;
    padding-top: 25px;
    border-bottom-left-radius: 50px;
    z-index: -2;
    width: 50%;
    height: 87%;
    position: absolute;
    top: 0;
    left: 50%;
}

.header h5{
    color: hsl(231, 7%, 65%);
    letter-spacing: 0.5em;
    font-size: 14px;
    margin-bottom: 15px;
}
span.new{
    background-color: hsl(230, 29%, 20%);
    color: white;
    border-radius: 500px;
    /* letter-spacing: 0.1em; */
    letter-spacing: normal;
    padding: 2.5px 10px;
    text-align: center;
    /* font-family: ''; */
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    margin-right: 15px;
    
}

.header h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 15px;
}
.content{
    text-transform: none;
    color: hsl(230, 11%, 40%);
    margin-right: 50px;
    margin-bottom: 20px;
}
input[type="button"]{
    /* text-transform: uppercase; */
    background-color: hsl(0, 100%, 68%);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    /* margin: 4px 2px; */
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Barlow Condensed';
    font-weight: 700;
    letter-spacing: 0.1em;
    border-radius: 5px;
}
.preview{
    font-size: 12px;
    margin-left: 20px;
    letter-spacing: 0.2em;
    color: hsl(231, 7%, 65%);
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.demoBtn{
    margin-bottom: 20px;
}